/* General style */
body{
    font-family: 'Garamond', serif;
    background-color: #2a2a2a;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
    background-image: url('https://wallpapers.com/images/hd/black-gothic-paisley-floral-pattern-z4yscku7z1u7o4sf.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

